
.messageBox {
    display: flex;
    background-color: darkslategray;
    align-items: flex-end;
    padding: 20px;

}

.avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.textBlock {
    background-color: rgba(255, 255, 255, 0.15);
    /*position: relative;*/
    border-radius: 5px 5px 5px 0px;
    width: 180px;
    min-height: 80px;

}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0px 0px, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.15) 0);
}

.name {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.message {
    padding-left: 10px;
    word-wrap: anywhere;
}

.sendTime {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}