.superInput {
    border: 1px solid gray;
    border-radius: 2px;
    background: whitesmoke;
    color: #393939;
    height: 20px;
}

.superInput:focus {
    outline: none;
}

.errorInput {
    border: 1px solid red;
    border-radius: 2px;
    background: rgba(214, 214, 214, 0.7);
    outline: none;
    height: 20px;
}

.error {
    color: red;
}