.checkbox {
    display: none;
}

.spanClassName {

}

.spanClassName:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.spanClassName:hover:before{
    border: 1px solid red;
}

.checkbox:checked + .spanClassName:before {
    width: 20px;
    height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url('../../../img/checkBox.png') ;
    background-color: black;
}