.header{
    position: relative;
/*    right: 10%;*/
    display: inline-block;
    transition: 1s;
    background-color: cadetblue;
    transform: translateX(-100% );
}
.header a{
   text-decoration: none;
    color: black;
}
.header a:focus{
   background-color: rgba(3, 252, 219, 0.4);
    color: black;
}

.header div{
    display: inline-block;
    padding-right: 10px;
}
.header:hover{
/*    right: 0%;*/
    transform: translateX(0%);
    transition: 0.5s;
}

.header:after{
    content: 'Nav';
    background-color: darkslategrey;
    color: whitesmoke;
    position: absolute;
}

